.body{
  font-family: "Avnenir Next"
}

li{
  list-style: none;
}


nav.navbar-expand-lg{
  font-size: 20px;
}

/* login Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

h2 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

h3{
  border-bottom: solid 3px skyblue;
  position: relative;
}

form {
  padding: 0 1.5em;
  align: center;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
  align: center;
}

.form-item input {
  align-items: center;
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  border-color:0.3s;
  width: 300px;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 300px;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}


/*アカウント登録　接続状態*/
.box{
  width:500px; height:120px;
  margin:10px auto;
  padding:20px;
  border:2px solid black;
  background-color: lightgray;
}

/* アカウント登録　販売者入力キー　*/

.form-wrapper2 {
  background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  margin: 30px auto;
  padding: 60px;
  max-width: 800px;;
  text-align: center;
}

p.key{
  font-size: 30px;
  text-decoration: underline;
}

.form-item2 {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item2 input {
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  width: 100%;
}

.form-item2 input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.btn-sf-like {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.5em 1em;
  margin:20px auto;
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
}

.btn-sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
}



/*商品登録　Q00１０へ出品する*/
a.btn--yellow{
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover{
  margin-top: 3px;
  color: #000;
  background: # fff20a;
  border-bottom: 2px solid #ccc100;
}

/*参考価格設定の表*/
body{
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}


.table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

table tr {  /*表の中*/
  background-color: #e6f2f5;
  padding: .35em;
  border-bottom: 2px solid #fff;
}

table th,
table td {  /*表全体の線*/
  padding: auto;
  border-right: 2px solid #fff;
}


table th { /*題名のフォントの大きさ*/
  font-size: .85em;
}
table thead tr{    /*表の上の*/
  text-align: center;
  background-color: #167F92;
  color:#fff;
}

table tbody th {  /*表の左の色*/
      background: #78bbc7;
      color: #fff;
  }


.txt{
   text-align: center;
   font-size: .85em;
}
.percent{
  text-align: center;
}
.price{
  text-align: center;
  color: #167F92;
  font-weight: bold;
}
.non{
  background:#fff
}
.end{
  text-align: right;
}


/*signup*/
hr{
  border-width: 3px;
  border-color: #43A047;
}

form.row{
  margin: auto;
}


.btn{
  float: right;
}


.secList {
  font-size:20px;
}

.et_pb_text_inner1 {
  background-color: #EAD9FF;
}

.et_pb_text_inner2 {
  background-color: #FFD5EC;
}

.et_pb_text_inner3 {
  background-color: #FFDBC9;
}



/* ソートボタンのセクション全体に適用 */
#feas-sort-menu {
    text-align: left;
    margin: 1em auto;
    padding: 1em 0;
    width: 1200px;
}
/* id=feas-sort-menu内のすべてのdivタグに適用 */
#feas-sort-menu div{
    display: inline-block;
    width: 200px;
    text-align: center;
    border-left: 1px solid #dadee6;
}
/* その最初のdivタグのみに適用 */
#feas-sort-menu div:first-child {
    border-left: none;
}

#feas-sort-menu div:last-child-child {
  width: 300px
}
/* 見出しに適用 */
#feas-sort-menu p.midashi {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #5d5d5d;
    margin-bottom: 0.5em;
    line-height: 1;
}
/* すべてのソートボタンに適用 */
#feas-sort-menu span a {
    color: white;
    display: inline-block;
    width: 3em;
    background-color: #54bee6;
    border-radius: 3px;
    margin: 0 3px;
}



.deleate{
  text-decoration: underline;
  color:#ff4500;
  font-weight: bold;
}

.deleate:hover{
color:#dc143c;
}


/*商品一覧　検索ボックス*/

dl.search1{
	position:relative;
	background-color:#fff;
	border:1px solid #aaa;
	border-radius:6px;
  width: 300px;
}
dl.search1 dt{
	padding:3px;
  width: 200px;
}
dl.search1 dt input{
	width:200px;
	height:30px;
	line-height:30px;
	background:none;
	border:none;
}
dl.search1 dd{
	position:absolute;
	top:1px;
	right:1px;
	width:30%;
}
dl.search1 dd button{
	display:block;
	background:#2b71c8;
	width:100%;
	height:36px;
	line-height:36px;
	border:none;
	border-radius: 0 6px 6px 0;
}
dl.search1 dd button:hover {
	background:#4e91e4;
}
dl.search1 dd button span{
	display:block;
	color:#FFF;
}

/*ショップ設定*/
form{
	width:100%; /*お好みで調整してください*/
	margin:0 auto;
}
.inputs{
	overflow: hidden;
	margin-bottom: 20px;
}
.label_aaa{
	float: left;
	width:300px;
	border-left: solid 3px #FF6701;
	padding-left: 10px;
  font-size: 20px;
}
.input_form{
	float: left;
	width:500px;
}

.input_form1{
  float: left;
  width:1400px;
  height:500px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea{
	border: solid 1px #e0e0e0;
	border-radius:5px;
	padding:8px;
	font-size: 15px;
}
textarea{
	height: 100px;
}
.btn-area{
	text-align: center;
　　　　 padding-bottom: 100px;
}
input[type="submit"]{
	background: #FF6701;
	border: none;
	color: #fff;
	font-size:15px;
	font-weight:bold;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
}
input[type="reset"]{
	background: #aaa;
	border: none;
	color: #fff;
	font-size:15px;
	font-weight:bold;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
}

.cp_ipradio {
	width: 90%;
	margin: 2em auto;
	text-align: left;
}
.cp_ipradio ul {
	margin: 0.5rem 0.5rem 2rem 0.5rem;
	padding: 0.5rem 1rem;
	list-style: none;
}
.cp_ipradio .list_item {
	margin: 0 0 0.5rem 0;
	padding: 0;
}
.cp_ipradio label {
	line-height: 135%;
	position: relative;
	margin: 0.5rem;
	cursor: pointer;
}
.cp_ipradio .option-input {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
}
.cp_ipradio .option-input:before,
.cp_ipradio .option-input:after {
	position: absolute;
	z-index: 1;
	top: -0.125rem;
	left: -0.125rem;
	width: 1rem;
	height: 1rem;
	content: '';
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	border-radius: 50%;
	background: #ffffff;
}
.cp_ipradio .option-input:after {
	z-index: 0;
	top: -0.25rem;
	left: -0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	background: #da3c41;
}
.cp_ipradio .option-input:checked:before {
	-webkit-transform: scale(0, 0);
	        transform: scale(0, 0);
	border-width: 0.625rem;
	border-color: #da3c41;
}

/*ユーザーのホームのところ*/
/*全体*/
.hidden_box {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 3px;
    font-weight: bold;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 5px 0;
    height: auto;
    opacity: 1;

}


.home{
  border-bottom:1px dotted #000;
  list-style:none;
  padding:10px;
  width:80%;
 margin:auto;
}


time{
  display: inline-block;
  font-weight: bold;
  margin-right:40px;
}
p{
  color:#1c448d;
  display: inline-block;
  text-decoration:underline;
}
.new::after{
  content:"NEW";
  color: #d10606;
  font-size: 1.1rem;
  border: 1px solid #d10606;
  padding: 4px 8px;
  margin: 0 0 0 20px;
  display: inline-block;
  line-height: 1;
}


/*入力フォーム*/
.input_url{
  width: 100%;
  text-align: center;
}

input.url{
  width: 900px;
  margin:10px auto;
}
