
body{
  margin:0;
  padding:0;
 font-family: "Avnenir Next"
}

/*背景色*/
.full-page{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.error_message{
  color:#ff0000;
  border: 1px solid;
  border-color: #ff0000;
  text-align: center;
  margin:20px auto;
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}


/*ナビゲーションバー*/
nav.navbar-expand-lg, .navbar{
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  background-color: #00ccbb;
  text-align: center;
}

nav.navbar-expand-lg{
  margin-bottom: 60px;
}

.fa-clipboard-list, .fa-search,.fa-shopping-cart, .fa-history,.fa-cog{
  font-size: 50px;
  color: #ffffff;
  padding-right: 10px;
}

.fa-clipboard-list:hover, .fa-search:hover, .fa-shopping-cart,.fa-history:hover, .fa-cog:hover{
color:#f5f5f5;
}

li.nav-item{
  list-style-type: none;
  flex-grow: 1;
  text-align: center;
  padding-left: 135px;
  padding-right: 135px;
}


.navbar-brand{
  color: #00ab9e;
  font-weight: bold;
}

li + li {
  border-left: 1px solid #ffffff;
}

a.nav-link{
  color: #000000;
  font-weight: bold;
}

a.nav-link:hover{
  color:#696969;
}



p.nav-link{
  text-align: right;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,157,191,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.dropdown-item{
  margin:0 0;
  padding:10px 40px;
  font-size: 24px;
}

a.dropdown-item:hover{
  background-color: #eee;
}

h1 {
  position: relative;
  padding-left: 25px;
  margin-left: 40px;
}
h1 {
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}



h2 {
  text-align: left;
  text-decoration: underline;

}

h3{
  border-bottom: solid 3px skyblue;
  margin: 30px 50px;
  padding-top: 50px;
  font-size: 50px;
}


h4{
color: #00ab9e;
text-align: center;
padding: 2em 0;
}

/*Button*/

button.btn--blue{
  margin:10px auto;
  margin-left: 40%;
  padding:10px 30px;
  color: #fff;
background-color: #00ab9e;
letter-spacing: 2px;
font-size: 20px;
text-align: center;
}

button.btn--blue:hover{
  color: #fff;
  background: #00998c;
}



button.btn--orange{
  margin-top: 10px;
  padding:10px 30px;
  color: #fff;
background-color: #f79418;
letter-spacing: 2px;
font-size: 20px;
text-align: center;
}

button.btn--orange:hover{
  color: #fff;
  background: #cc7914;
}


/*a-Button*/

a.btn--blue{
  margin-top: 20px;
  padding:10px 30px;
  color: #fff;
background-color: #00ab9e;
letter-spacing: 2px;
font-size: 20px;
text-align: center;
}

a.btn--blue:hover{
  color: #fff;
  background: #00998c;
}


/* login Form*/
.login{
  padding-top: 70px;
  padding-bottom: 25%;
}

.form-wrapper {
  background: #fafafa;
  margin: 0em auto;
  margin-top: 0px;
  padding: 50px 1em;
  max-width: 370px;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
  align: center;
  padding: 0 1.5em;
}

.form-item input {
  align-items: center;
  background: #ffffff;
  border: 2px solid #e9e9e9;
  color: #666;
  font-size: 1em;
  height: 50px;
  width: 300px;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 30px auto;
  margin-bottom: 0px;
　text-align: center;
padding-left: 28%;

}

.form-footer {
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
}


/*アカウント登録　接続状態*/
p.connection_box{
  width:40%; height:120px;
  margin:40px auto;
  padding:20px;
  border:2px solid black;
  background-color: #ffffff;
  font-size: 40px;
  text-align: left;
}

.connection{
  text-align: center;
  height: 700px;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/* アカウント登録　販売者入力キー　*/

.account{
  margin: 0px auto;
  margin-left: auto;
  padding-bottom: 100px;
  width: 1200px;
}

p.key{
  font-size: 30px;
  text-align: left;
}

.person{
  background-color: #f79418;
  border-radius: 50%;
  color: #ffffff;
  margin:20px 20px;
  padding: 20px 20px;
}

.form_account{
  border-style: solid;
  border-width: thin;
  margin: 0px auto;
  max-width: 900px;
  padding: 30px;
  text-align: center;
  background-color: #effff7;
}

.form-item2 {
  margin-bottom: 0.75em;
  text-align: left;
  font-size: 18px;
}

.form-item2 input {
  margin-top: 3px;
  border: none;
  color: #666;
  height: 50px;
  width: 840px;
}

.form-item2 input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}




/*CSV Insert*/
.csv{
  margin:30px auto;
  text-align: center;
  padding-bottom: 10%;
}

.csv_serect{
  font-size: 24px;
  margin-bottom: 30px;
}

.csv_box{
  border-style: solid;
  background-color: #effff7;
  border-width: thin;
  width: 60%;
  margin:20px auto;
  text-align: center;
  padding:30px 40px;
}

.border-dark{
  font-size: 20px;
  margin:10px;
  margin-bottom: 30px;
  width: 500px;
}

/*販売価格設定*/
div.ex{
  padding: 20px 10px;
  margin: 30px auto;
  background-color: #ffffe0;
  text-align: center;
  width: 90%;
  font-size: 24px;
  font-weight: bold;
}

p.ex{
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}


.config{
  border-bottom: solid;
  border-width: 1px;
  width: 90%;
  margin: 50px auto;
}

p.sale{
 border-bottom: double;
 border-color: #00bfff;
 border-width: 5px;
 width: 100%;
 margin:10px auto;
 padding: 10px auto;
 padding-bottom: 0;
 font-size: 18px;
 font-weight: bold;
}

p.sale_set{
  margin-left: 10%;
  font-size: 18px;
  font-weight: bold;
  border-bottom:
}

input.percent{
  width: 45px;
}

.txt{
   text-align: center;
   font-size: .85em;
}
.percent{
  text-align: center;
}
.price{
  text-align: center;
  color: #167F92;
  font-weight: bold;
}
.non{
  background-color: #fff;
}

.refresh{
  margin-bottom: 40px;
  margin-left: 50%;
  text-align: center;
  background-color: #00bfff;
  color:#ffffff;
  padding:10px 30px;
  letter-spacing: 12px;
  font-weight: bold; 
}



.qoo10_button{
  text-align: center;
  padding-bottom: 30px;
}


a.btn--yellow{
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover{
  margin-top: 18px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

/*参考価格設定*/

.reference{
  font-size: 20px;
  text-align: center;
  margin: 30px auto;
  padding-top: 60px;
  background-color: #e5f2ff;
  width:80%;
  height: 580px;
}

.reference_title{
  font-weight: bold;
  font-size: 24px;
}

.reference_input{
  text-align: center;
  background-color: #ccf2ff;
  padding: 20px 20px;
  font-size: 18px;
  width: 60%;
  margin:20px auto;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}



/*signup*/

h4{
color: #0a84ff;
text-align: center;
padding: 2em 0;
}

hr{
  border-width: 3px;
  border-color: #43A047;
}

.col-sm-4{
  margin:10px auto;
    height: 800px;
}

button.btn-primary{
  margin:30px 40%;
  width: 80px;
  float: right;
}

.form-froup{
  margin:10px auto;
  text-align:center;
}



/*amzon_item_list*/
.amazon{
  padding-bottom: 80px;
  margin-bottom: 0px;
  text-align: center;
}

span.feas-sl-1-up{
    margin-left: 20px;
}

span.feas-sl-1-up ,span.feas-sl-1-down{
    display: inline-block;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 6px;
    border-width: thin;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
a.feas-sl-1-up,a.feas-sl-1-down{
  color:#ffa500;
}

a.feas-sl-1-up:hover ,a.feas-sl-1-down:hover{
  color: #f78800;
  text-decoration: none;
}


/*商品一覧　検索ボックス*/
dl.search1{
 float: right;
	position:relative;
	background-color:#fff;
	border:1px solid #aaa;
  margin-right: 5%;
	border-radius:6px;
  width: 400px;
}

dl.search1 dt{
	padding:3px;
  width: 200px;
}
dl.search1 dt input{
	width:300px;
	height:30px;
	line-height:30px;
	background:none;
	border:none;
}
dl.search1 dd{
	position:absolute;
	top:1px;
	right:1px;
	width:30%;
}
dl.search1 dd button{
	display:block;
	background:#2b71c8;
	width:100%;
	height:36px;
	line-height:36px;
	border:none;
	border-radius: 0 6px 6px 0;
}
dl.search1 dd button:hover {
	background:#4e91e4;
}
dl.search1 dd button span{
	display:block;
	color:#FFF;
}


table.table{
  width:90%;
  margin:20px auto;
  text-align: center;
  margin-bottom: 100px;
}

table tr {
  background-color: #e6f2f5;
  padding: .35em;
  border-bottom: 2px solid #fff;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 2px solid #fff;
}

table thead tr{
  background-color: #167F92;
  color:#fff;
}

button.deleate{
  text-decoration: underline;
  color:#ff4500;
  font-weight: bold;
  border-style: none;
}

button.deleate:hover{
color:#dc143c;
}

i.fa-exclamation-triangle{
  text-align: center;
  font-size: 30px;
  color: #ffff00;
  margin: 10px;
}

.confirm{
  background-color: #333333;
  padding: 20px;
  width: 700px;
  height: auto;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

button.no{
  margin-right: 20px;
}

a.yes{
  color: #ffffff;
  background-color: #dc143c;
  padding: 15px 20px;
  margin-right: 20px;
  border-style: solid;
  border-width: medium;
}

a.yes:hover{
border-color: #000000;
text-decoration: none;
}

/*exhibit*/
.exhibit{
  padding-bottom: 10%;
}

.feas-sl-1-up01{
  display: inline-block;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 6px;
  border-width: thin;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
}


/*ショップ設定*/
.shop{
  margin:40px auto;
  margin:0 auto;
  margin-left: 60px;
}

.inputs{
	overflow: hidden;
	margin-bottom: 20px;
}
.label_aaa{
	float: left;
	width:300px;
	border-left: solid 3px #00bfff;
	padding-left: 10px;
  font-size: 20px;
}
.input_form{
	float: left;
	width:500px;
}

.input_form1{
  float: left;
  width:1400px;
  height:500px;
}

textarea.input_form1{
	border: solid 1px #e0e0e0;
	border-radius:5px;
	padding:8px;
	font-size: 15px;
}

input.input_form{
  border: solid 1px #e0e0e0;
  border-radius:5px;
  padding:8px;
  font-size: 15px;
}
textarea{
	height: 100px;
}
.btn-area{
	text-align: center;
  padding-bottom: 100px;
}
input[type="submit"]{
	background: #00bfff;
	border: none;
	color: #fff;
	font-size:15px;
	font-weight:bold;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
}

input[type="reset"]{
	background: #aaa;
	border: none;
	color: #fff;
	font-size:15px;
	font-weight:bold;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
}

.cp_ipradio {
	width: 90%;
	margin: 2em auto;
	text-align: left;
}
.cp_ipradio ul {
	margin: 0.5rem 0.5rem 2rem 0.5rem;
	padding: 0.5rem 1rem;
	list-style: none;
}
.cp_ipradio .list_item {
	margin: 0 0 0.5rem 0;
	padding: 0;
}
.cp_ipradio label {
	line-height: 135%;
	position: relative;
	margin: 0.5rem;
	cursor: pointer;
}
.cp_ipradio .option-input {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
}
.cp_ipradio .option-input:before,
.cp_ipradio .option-input:after {
	position: absolute;
	z-index: 1;
	top: -0.125rem;
	left: -0.125rem;
	width: 1rem;
	height: 1rem;
	content: '';
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	border-radius: 50%;
	background: #ffffff;
}
.cp_ipradio .option-input:after {
	z-index: 0;
	top: -0.25rem;
	left: -0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	background: #00bfff;
}
.cp_ipradio .option-input:checked:before {
	-webkit-transform: scale(0, 0);
	        transform: scale(0, 0);
}


/*ユーザーのホームのところ*/
/*全体*/
.post{
  padding-bottom: 10%;
}
.hidden_box {
    margin: 1em 0;
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 3px;
    font-weight: bold;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 5px 0;
    height: auto;
    opacity: 1;

}


.home{
  border-bottom:1px dotted #000;
  list-style:none;
  padding:10px;
  width:80%;
}


time{
  display: inline-block;
  font-weight: bold;
  margin-right:40px;
}
p{
  display: inline-block;
}

.new::after{
  content:"NEW";
  color: #d10606;
  font-size: 1.1rem;
  border: 1px solid #d10606;
  padding: 4px 8px;
  margin: 0 0 0 20px;
  display: inline-block;
  line-height: 1;
}


/*入力フォーム*/
.input_url{
  width: 100%;
  text-align: center;
  height: 900px;
}

input.url{
  width: 900px;
  margin:10px auto;
}

.amazon{
  font-size: 20px;
}


/*set.html*/
.set01{
  height: 750px;
}

.set_container{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.set{
position: relative;
text-align: center;
margin:90px 15px;
padding-top: 20px;
padding-left: 15px;
padding-right: 15px;
border-style: solid;
border-width: thin;
}

a.set{
  position:absolute;
  top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-indent:-999px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  border-style: none;
}

.icon{
  font-size: 100px;
  margin-bottom: 40px;
  padding-top: 50px;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #84c4ff;
  color:#ffffff;
  text-align: center;
}



/*ショップ商品検索*/
.shop_ID{
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  padding-bottom: 50px;
  font-size: 25px;
}

textarea.shop_ID{
  margin-top: 10px;
  margin-bottom: 0px;
  width:900px;
  padding-bottom: 240px;
  text-align: left;
}


/*商品名検索結果*/
.search_result{
  margin:30px auto;
  text-align: center;
  padding-bottom: 100px;
}

table th.search_result{
width: 400px;
padding-bottom: 24px;
background-color:#00ab9e;
color:#ffffff;
font-size: 20px;
}



/*purchase_histry*/
.purchase{
  margin:0px auto;
  margin-top: 40px;
  padding-bottom: 70px;
}

table.purchase_histry{
    width:95%;
    margin: 20px auto;
    text-align: center;
}

.purchase_histry th{
  background-color: #00998c;
  color:#ffffff;
}


/*insert_NGprouse*/
.prouse{
  margin:0px auto;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 60px;
}

table.prouse{
  width: 80%;
  margin:0px auto;
  margin-bottom: 30px;
  text-align: center;
}

th.prouse,th.serect{
  background-color: #00998c;
  color:#ffffff;
}

th.prouse{
  width:70%;
  font-size: 24px;
  padding:18px;
  letter-spacing: 4px;
}

th.serect{
  width:30%;
}

label {
  display:block;
  background-color: #ffffff;
  padding: 6px 14px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  border:1px solid #000000;
  border-radius: 5px;
  letter-spacing: 4px;
  font-weight: bold;
}

label:hover{
  background-color:#db5872;
}

input.checkbox1, .checkbox2 {
  display: none;
}

label.checkbox1:hover{
  background-color:#88c9e3;
}

.checkbox1:checked + label {
  background-color: #24ade3;
  color:#ffffff;
}

.checkbox2:checked + label {
  background-color: #dc143c;
  color:#ffffff;
}


/*エラー画面*/
.error{
text-align: center;
margin-top: 40px;
}

i.fa-exclamation-triangle{
  color:#dcdcdc;
  margin:20px auto;
  font-size: 90px;
  width: 50px;
}

p.error{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}



/*成功しました画面*/
.success{
margin:0px auto;
padding-top: 100px;
text-align: center;
padding-top: 20%;
padding-bottom: 400px;
}

.fa-check-circle{
  color:#7cfc00;
  font-size: 80px;
  margin-bottom: 50px;
}
